* {
	margin: 0;
	padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 20px 0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 9em;
    background-color: #6f1b2d;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
	font-size: 18px;
	height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Inter', 'Open Sans', sans-serif; */
	width: 100%;
	height: 100%;
	background-color: #D9D9D9;
    color: #434343;
	display: flex;
	flex-direction: column;
    padding: 20px;
}

a {
	color: #fff;
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
}

li {
    display: list-item;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* Стили песочка */
.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: 15px;
}

.container-tevern {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6F1B2D;
    padding: 20px;
    border-radius: 7px;
}

.form-states:hover {
    color: #d7595f;
}

.right-sis {
    width: 795px;
    border-radius: 15px 0 0 0;
}

.left-sis {
    width: 990px;
    border-radius: 15px 15px 0 0;
}

.info-section-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 22px 0;
    background-color: #ffffff;
    position: relative;
}

.empty-info-sect {
    position: relative;
}

.empty-info-sect:before {
    content: attr(data-empty);
    color: #939393;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
/* !Стили песочка */

/* Какие-то общие стили */
.muted-text {
    color: #777777;
}

.h-container-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
}
.btn {
    min-height: 63px;
    padding: 20px 30px;
    border: 0;
    border-radius: 6px;
    background-color: #6F1B2D;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}
.btn-second {
    color: #434343;
    background-color: transparent;
    border: 1px solid #D9D9D9;
}
.btn-small {
    min-height: auto;
    padding: 8px 15px;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
}
.btn-light {
    min-height: auto;
    color: #2D7CB6;
    background-color: transparent;
    padding: 0;
}

.btn-fine {
    color: #2AA64D;
    background-color: rgba(48, 189, 87, .15);
}
.btn-collector {
    background-color: rgba(98, 130, 34, 0.2);
    color: #628222;
}
.btn-fine-shift {
    min-height: unset;
    padding: 15px 20px;
    background-color: #30BD57;
}

.btn-disabled {
    background-color: #D9D9D9 !important;
    color: #ffffff;
    cursor: default;
}

.input-text {
    padding: 21px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    background: #ffffff;
    font-size: 19px;
    color: #434343;
}
.input-text::placeholder {
    color: #B6B6B6;
}

.file-uploader {
    display: none !important;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    position: absolute;
    inset: 0;
    z-index: 100000;
}
.modal-container.open {
    display: flex;
}
.modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-container .modal-header .modal-title {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}
.modal-container .modal-header .close-modal {
    height: 50px;
}
.modal-container .modal-body {
    padding-top: 20px;
}

.custominput {
    padding: 16px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    font-size: 18px;
    color: #252525;
}
.input-icon {
    width: fit-content;
    position: relative;
}
.input-icon:before {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #252525;
}
.input-icon:has(.actually-money):before {
    content: "₽";
}
.input-icon .custominput {
    padding: 16px 45px 16px 20px;
}
.input-icon .actually-money {
    color: #939393;
}

.customtextarea {
    padding: 14px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.w-rub:after {
    content: "₽";
    margin-left: 5px;
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-list .info-row {
    display: flex;
    gap: 10px;
}


.sect-cont-def {
   padding: 0 22px;
}


.products-list,
.products-list .products-header,
.products-list .products-items,
.products-list .products-items .product-row,
.products-list .products-total {
    display: grid;
}

.products-list {
   row-gap: 16px;
}

.products-header {
    color: #777777;
}

.products-items {
   row-gap: 8px;
}

.tabs-viewport {
    width: 100%;
    overflow: hidden;
    cursor: grab;
}

.tabs-control {
    display: flex;
    gap: 10px;
}

.tabs-control .tabs-control-item {
    padding: 15px 20px;
    border: 1px solid #939393;
    border-radius: 9px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.tabs-control .tabs-control-item.active,
.tabs-control .tabs-control-item.open {
    border-color: #844451;
    background-color: #844451;
    color: #ffffff;
}

.tabs-control .tabs-control-item svg {
    transition: all .3s ease-in-out;
}

.tabs-control .tabs-control-item.open svg {
    stroke: #ffffff;
    transform: rotate(180deg);
}

.tabs-control .tabs-control-item.type-mode.open {
    padding: 0;
    background-color: #ffffff;
    border-color: #939393;
    color: #434343
}

.tabs-control .tabs-control-item.type-mode .type-mode-items {
    display: flex;
}

.tabs-control .tabs-control-item.type-mode .type {
    padding: 15px 20px;
}

.tabs-control .tabs-control-item.type-mode .type:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tabs-control .tabs-control-item.type-mode .type:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tabs-control .tabs-control-item.type-mode .type:not(:first-child) {
    border-left: 1px solid #939393;
}

.tabs-control .tabs-control-item.type-mode .type.active {
    background-color: #844451;
    color: #ffffff;
}

.comment-sect {
    width: 100%;
}

.comment-sect .title {
    margin-bottom: 10px;
    color: #848484;
}

.comment-sect .customtextarea {
    width: 100%;
    font-size: 16px;
    background-color: #F5F7FA;
}

.assembly-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.assembly-list.empty-info-sect {
    justify-content: flex-end;
}

.assembly-list .assembly-items {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 622px;
}

.assembly-list.edited .assembly-item {
    opacity: .5;
}
.assembly-list.edited .assembly-item.assembly-item-edited {
    opacity: 1;
}

.assembly-list .assembly-item:last-child {
    border-bottom: 1px solid #C2C2C2;
}

.assembly-list .assembly-item .item-header {
    display: flex;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
}

.assembly-list .assembly-item:first-child .item-header {
    border-top: unset;
}

.assembly-list .assembly-item .item-header .info-block {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

.assembly-list .assembly-item.assembly-item-new .item-header .info-block {
    color: #ffffff;
    background: #844451;
}

.assembly-list .assembly-item.assembly-item-edited .item-header .info-block {
    color: #ffffff;
    background: #696969;
}

.assembly-list .assembly-item .item-header .info-block .price.w-rub:after {
    font-size: 18px;
    font-weight: 500;
}

.assembly-list .assembly-item .item-header .btns-block {
    display: flex;
}

.assembly-list .assembly-item .item-header .btns-block .btn.btn-accept {
    height: 100%;
    border-radius: unset;
    background-color: #567AFB;
    border-left: 1px solid #C2C2C2;
}

.assembly-list .assembly-item .item-header .btns-block .btn-disband {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #C2C2C2;
}

.assembly-list .assembly-item .item-header .btns-block .btn-disband svg {
    width: 18px;
    stroke: #434343;
}

.assembly-list .assembly-item .item-header .btns-block .btn-edit {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 22px;
    border-radius: 0;
    background-color: #ffffff;
    color: #434343;
}

.assembly-list .assembly-item .item-product {
    padding: 14px 0 14px 20px;
    display: grid;
    grid-template-columns: auto 94px 50px 94px 56px;
    gap: 16px;
    color: #000000;
}

.assembly-list .assembly-item .item-product:not(:last-child) {
    border-bottom: 1px solid #C2C2C2;
}

.assembly-list .assembly-item .item-product.active {
    background-color: #d9d9d9;
}

.assembly-list .assembly-item .item-product .s-price {
    color: rgba(0, 0, 0, .5);
}

.assembly-list .assembly-item .item-product .del-btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: -14px 0;
}

.assembly-list .assembly-item.assembly-item-edited .item-product .del-btn {
    display: flex;
}

.assembly-list .assembly-item .item-product .del-btn svg {
    width: 16px;
    height: 16px;
    stroke: #F81D1D;
}

.assembly-list .assembly-item.single-product {
    border-top: 2px solid #C2C2C2;
}

.assembly-list .assembly-item.single-product .item-product .del-btn {
    display: flex;
}

.assembly-list .assembly-item.single-product .item-product .del-btn svg {
    stroke: #434343;
}

.assembly-list .assembly-control-panel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
}

.assembly-list .assembly-control-panel .assembly-control-btns {
    display: flex;
}

.assembly-list .assembly-control-panel .btn {
    min-height: unset;
    padding: 19px 30px;
    border-radius: 0;
}

.assembly-list .assembly-control-panel .control-btn {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d9d9d9;
    overflow: hidden;
    cursor: pointer;
}

.assembly-list .assembly-control-panel .control-btn svg {
    width: 16px;
}

.assembly-list .assembly-control-panel .control-btn.del-item svg {
    stroke: #F81D1D;
}

.assembly-list .assembly-control-panel .control-btn.num-item {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.assembly-list .assembly-control-panel .control-btn.up-item svg {
    transform: rotate(180deg);
}

.assembly-list .assembly-control-panel .control-btn.plus-item svg {
    transform: rotate(45deg);
    width: 14px;
}

.assembly-list .assembly-control-panel .control-btn.menu-items {
    border-left: 1px solid #D9D9D9;
}

.tabs-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.tabs-cont .tabs-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.tabs-cont .tabs-items {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 233px;
    gap: 4px;
    margin-bottom: 10px;
}

.tabs-cont .tabs-item {
    border: 1px solid #D9D9D9;
    border-radius: 9px;
    overflow: hidden;
}

.tabs-cont .tabs-item.selected {
    border-color: #30BD57;
}

.tabs-cont .tabs-item .item-img {
    height: 100%;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.tabs-cont .tabs-item .item-img-cont {
    height: 135px;
    position: relative;
}

.tabs-cont .tabs-item .item-img-bottom {
    display: flex;
    gap: 3px;
    padding: 3px;
}

.tabs-cont .tabs-item .amount, 
.tabs-cont .tabs-item .reserved {
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    padding: 3px 7px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.tabs-cont .tabs-item .reserved {
    display: none;
    color: #AD2E1D;
}

.tabs-cont .tabs-item.w-reserve .reserved {
    display: block;
}

.tabs-cont .tabs-item .item-info {
    padding: 10px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs-cont .tabs-item.selected .item-info {
    background-color: #D5F6E4;
}

.tabs-cont .tabs-item .item-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 500;
}

.tabs-cont .tabs-item .percent {
    display: none;
    width: 24px;
    height: 24px;
    background-color: #9197B3;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    left: 3px;
}

.tabs-cont .tabs-item.p-staff .percent {
    display: flex;
}

.tabs-cont .tabs-item .select {
    display: none;
    width: 33px;
    height: 33px;
    background-color: #30BD57;
    border-bottom-left-radius: 9px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.tabs-cont .tabs-item.selected .select {
    display: flex;
}

.tabs-cont .tabs-item .select img {
    width: 15px;
}

.tabs-cont .tabs-item .item-price-cont {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.tabs-cont .tabs-item .item-price {
    font-size: 24px;
    font-weight: 600;
}

.tabs-cont .tabs-item .item-price.w-rub:after {
    font-size: 17px;
    font-weight: 500;
}

.tabs-cont .tabs-item .item-price-old {
    display: none;
    font-size: 17px;
    font-weight: 500;
    text-decoration: line-through;
    color: #C04F55;
}

.tabs-cont .tabs-item.w-old-p .item-price-old {
    display: block;
}

.tabs-cont .tabs-item.n-available .item-img-top,
.tabs-cont .tabs-item.n-available .item-img-bottom {
    display: none;
}

.tabs-cont .tabs-item.n-available .item-img {
    position: relative;
}

.tabs-cont .tabs-item.n-available .item-img:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.tabs-cont .tabs-item.n-available .item-img:after {
    content: attr(data-empty);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    color: #393939;
    z-index: 2;
}

.tabs-cont .tabs-item.n-available .item-info {
    opacity: .5;
}

.tabs-cont .tabs-content-pagitation {
    margin: 0 -22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tabs-cont .tabs-content-pagitation .pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 50px;
    border: 1px solid #E3E3E3;
    background-color: #E3E3E3;
}

.tabs-cont .tabs-content-pagitation .pagination-btn.disabled {
    background-color: #ffffff;
}

.tabs-cont .tabs-content-pagitation .pagination-btn.disabled svg {
    opacity: .2;
}

.tabs-cont .tabs-content-pagitation .pagination-btn.prev-page {
    border-left: unset;
    border-bottom: unset;
    border-top-right-radius: 9px;
}

.tabs-cont .tabs-content-pagitation .pagination-btn.next-page {
    border-right: unset;
    border-bottom: unset;
    border-top-left-radius: 9px;
}

.tabs-cont .tabs-content-pagitation .pagination-btn.next-page svg {
    transform: rotate(180deg);
}

.tabs-cont .tabs-content-pagitation .pagination-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    color: #848484;
}

.tabs-cont .add-item {
    display: none;
    position: absolute;
    inset: 0;
    background-color: #ffffff;
    margin: 0 -22px;
    z-index: 99;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 120px;
    gap: 10px;
}

.tabs-cont .add-item.open {
    display: grid;
}

.tabs-cont .add-item .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #E6DADC;
    border-radius: 9px;
}

.tabs-cont .add-item .card .card-title {
    font-size: 14px;
    color: rgba(132, 68, 81, .8);
}

.tabs-cont .add-item .card-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}
/* !Какие-то общие стили */



/* Custom select */
.customselect {
  width: 100%;
  display: inline-block;
  position: relative;
}
.customselect .title {
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  background: #ffffff;
  width: 100%;
  padding: 21px 20px;
  cursor: pointer;
  color: #848484;
  font-size: 19px;
  text-align: left;
  position: relative;
}
.customselect .title:after {
    content: '';
    width: 20px;
    height: 11px;
    background-image: url('img/arrow-down.svg');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    transition: all .3s ease;
}
.customselect ul {
    width: 100%;
    max-height: 202px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    color: #848484;
    font-size: 19px;
    text-align: left;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
}
.customselect.open ul {
  display: block;
}
.customselect li {
  padding: 21px 20px;
  cursor: pointer;
}
.customselect li.active {
  background-color: #FAF2F4;
  color: #282828;
}
.customselect li:hover {
  background-color: #FAF2F4;
}
.customselect.open .title {
    border-radius: 6px 6px 0 0;
}
.customselect.open .title:after {
    transform: translate(0, -50%) rotate(180deg);
}
/* !Custom select */

/* Custom checkbox */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #D9D9D9;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
  border-color: #6F1B2D;
  background-color: #6F1B2D;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: rgba(111, 27, 45, .35);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: rgba(111, 27, 45, .35);
  border-color: rgba(111, 27, 45, .35);
}
/* стили для чекбокса, находящегося в фокусе */
/*.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}*/
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: rgba(111, 27, 45, .35);
}
/* Custom checkbox */



/* Смены флористов */
/* --- Открытие смены --- */
.rBlock-header {
    padding: 0 22px;
}
.rBlock-body {
    flex-grow: 1;
}
/* ----- Левый блок ----- */
.staff-cont,
.journal-cont {
    gap: 20px;
}

.money-btns,
.collector-btns {
    display: flex;
    gap: 10px;
}

.money-btns .btn,
.collector-btns .btn {
    padding: 10px 20px;
}

.money-btns .btn:has(img),
.collector-btns .btn:has(img) {
    padding: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-transform: none;
    align-items: center;
    justify-content: space-between;
}

.shift-set { 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.shift-set .btn {
    padding: 15px 20px;
    margin-bottom: 32px;
}

.shift-set .btn.hidden {
    display: none;
}

.staff-b,
.journal-b {
    max-height: 585px;
    overflow-y: auto;
}

.staff-table {
    padding: 0 42px 0 22px;
}

.staff-table .st-control, 
.staff-table .st-body .st-row {
    display: grid;
    align-items: center;
}

.staff-table .st-control {
    margin-bottom: 18px;
    grid-template-columns: 74px 100px 124px 260px auto;
    column-gap: 40px;
}

.staff-table .st-control .control-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #939393;
}

.staff-table .st-control .control-item .btn-control {
    padding: unset;
    min-height: unset;
    width: 45px;
    height: 45px;
    border: 1px solid #939393;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-table .st-control .control-item .btn-control img {
    height: 18px;
}

.staff-table .st-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.staff-table .st-body .st-row {
    grid-template-columns: 72px 120px 143px 260px auto;
    column-gap: 20px;
    min-height: 86px;
    padding: 15px 11px 15px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.staff-table .st-body .st-row.active,
.staff-table .st-body .st-row:hover {
    background-color: #EDEDED;
    border-color: #EDEDED;
}

.staff-table .st-body .st-row.active {
    cursor: default;
}

.staff-table .st-body .st-row .employee-id {
    color: #616161;
}

.staff-table .st-body .st-row .employee-date, 
.staff-table .st-body .st-row .employee-name,
.staff-table .st-body .st-row .employee-shift,
.staff-table .st-body .st-row .employee-amount,
.staff-table .st-body .st-row .employee-type,
.staff-table .st-body .st-row .employee-discrepancy {
    color: #777777;
}

.staff-table .st-body .st-row .employee-discrepancy.plus {
    color: #628222;
}

.staff-table .st-body .st-row .employee-discrepancy.plus:before {
    content: "+";
    margin-right: 3px;
}

.staff-table .st-body .st-row .employee-discrepancy.n-enough {
    color: #8A0000;
}

.staff-table .st-body .st-row .employee-btn .btn {
    min-height: unset;
    padding: 15px 20px;
}

.staff-table .st-body .st-row.active .employee-btn .btn.btn-disabled {
    color: #a8a8a8;
}
/* ----- !Левый блок ----- */

/* ----- Правый блок ----- */
.info-sect-h .rb-title {
    font-size: 28px;
    font-weight: 400;
    color: #434343;
    flex-grow: 1;
}

.info-sect-h:has(button) .rb-title {
    flex-grow: unset;
}

.date-time-info {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #777777;
}

.date-time-info .item {
    display: flex;
    gap: 10px;
}

.date-time-info .item .date {
    color: #424242;
}

.responsible-b {
    padding: 0 22px;
}

.responsible-name {
    padding: 22px 0 18px;
}

.responsible-name .name-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 2px;
}

.responsible-name .name-cont {
    font-size: 19px;
}

.responsible-num {
    display: flex;
    gap: 15px;
}

.responsible-num .num-items {
    padding: 10px 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    text-align: center;
}

.responsible-num .num-items .num {
    font-size: 30px;
    margin-bottom: 10px;
}

.responsible-num .num-items:nth-child(3) .num::after {
    content: "₽";
    font-size: 20px;
    margin-left: 4px;
}

.responsible-num .num-items .explanation {
    font-size: 16px;
    line-height: 120%;
    color: #777777;
}

.responsible-container {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.responsible-table .table-header {
    font-size: 22px;
    line-height: 120%;
    color: #252525;
    padding-bottom: 20px;
}

.responsible-table .table-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.responsible-table .table-body .table-row,
.responsible-table .table-footer .table-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.responsible-table .table-body .table-row .name {
    color: #777777;
}

.responsible-table .table-body .table-row .value {
    font-size: 20px;
}

.responsible-table .table-body .table-row .value.minus::before,
.responsible-table .table-footer .table-row .value.minus::before,
.responsible-info .info-row .value.minus::before {
    content: "- ";
}

.responsible-table .table-body .table-row .value::after,
.responsible-table .table-footer .table-row .value::after,
.responsible-info .info-row .value::after {
    content: "₽";
    margin-left: 4px;
    font-size: 18px;
}

.responsible-table .table-body .table-row .value.muted,
.responsible-table .table-body .table-row .value:not(.muted)::after,
.responsible-info .info-row .value::after {
    opacity: .5;
}

.responsible-table .table-footer {
    border-top: 1px solid #D9D9D9;
    padding-top: 8px;
}

.responsible-table .table-footer .table-row .name {
    font-size: 20px;
}

.responsible-table .table-footer .table-row .value {
    font-size: 22px;
    font-weight: 500;
    color: #252525;
}

.responsible-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.responsible-info .info-row {
    display: flex;
    gap: 10px;
}

.responsible-info .info-row .name {
    width: 254px;
    color: #252525;
}

.responsible-info .info-row .value:not(.minus) {
   padding-left: 13px; 
}
/* ----- !Правый блок ----- */

/* ----- Модалка закрытия смены ----- */
.close-shift-modal {
    width: 567px;
    padding: 40px 40px 40px 50px;
    border-radius: 15px;
    background: #FFFFFF;
}

.close-shift-modal .modal-header .modal-title span {
    font-size: 20px;
    font-weight: 400;
    color: #646464;
}

.close-shift-modal .responsible-container {
    overflow-y: auto;
    max-height: 550px;
}

.close-shift-modal .responsible-shift-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-shift-modal .responsible-shift-info .rsi-row {
    display: flex;
    gap: 15px;
    color: #777777;
    padding-right: 27px;
}

.close-shift-modal .responsible-shift-info .rsi-row .time {
    color: #424242;
}

.close-shift-modal .responsible-table,
.close-shift-modal .responsible-info {
    padding-right: 27px;
}

.close-shift-modal .responsible-info .info-row .name,
.close-shift-modal .responsible-info .info-row .value {
    font-size: 20px
}

.close-shift-modal .responsible-info .info-row.w-input {
    flex-direction: column;
    gap: 15px;
}

.close-shift-modal .responsible-info .info-row.w-input .input-icon .actually-money {
    width: 345px;
}

.close-shift-modal .btn-container {
    padding-top: 30px;
}
/* ----- !Модалка закрытия смены ----- */

/*----- Модалки Инкасации и Выдачи из кассы -----*/
.money-view {
    width: 605px;
    padding: 50px 40px 60px 60px;
    border-radius: 15px;
    background: #FFFFFF;
}

.money-view .modal-body {
    padding-top: 40px;
    padding-right: 25px;
}

.money-view .modal-desc {
    margin-bottom: 40px;
    color: #6D6D6D;
}

.money-view form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.money-view form .field-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.money-view form .field-cont.m-size {
    width: 50%;
}

.money-view form .field-cont.hidden {
    display: none;
}

.money-view form .field-cont .input-icon,
.money-view form .field-cont .input-icon input {
    width: 100%;
}

.money-view form .field-cont .input-icon .custominput {
    font-size: 30px;
    font-weight: 600;
}

.money-view form .field-cont .input-icon:before {
    color: #939393;
}

.collector-modal.money-view form .field-cont:last-child {
    padding-top: 10px;    
}

.cashbox-modal.money-view form .field-cont:last-child {
    padding-top: 25px;    
}

.money-view form .field-cont-title {
    color: #848484;
}

.money-view form .field-cont-title span {
    color: #6F1B2D;
}

.cashbox-modal .btn-container, 
.collector-modal .btn-container {
    padding-top: 40px;
}
/*----- !Модалки Инкасации и Выдачи из кассы -----*/
/* !Смены флористов */

/* Журнал инкассации */
/* ----- Левый блок ----- */
.journal-b {
    padding-top: 20px;
}

.btn-back-cont {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-back-cont .btn-back,
.filter-panel .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.btn-back-cont .btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #8C4957;
    border-radius: 50%;
}

.btn-back-cont .title {
    font-size: 30px;
    color: #282828;
}

.filter-panel {
    gap: 20px;
    padding-right: 46px;
}

.filter-panel input {
    min-height: 64px;
    flex-grow: 1;
}

.filter-panel .btn-control {
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
}

.journal-b .staff-table .st-control {
    grid-template-columns: 74px 100px 60px 260px 150px 100px;
    gap: 34px;
}

.journal-b .staff-table .st-body .st-row {
    grid-template-columns: 67px 114px 73px 275px 164px auto;
}

.journal-b.collection-spec .staff-table .st-control {
    grid-template-columns: 74px 100px 60px 200px 200px 115px;
}

.journal-b.collection-spec .staff-table .st-body .st-row {
    grid-template-columns: 67px 114px 73px 216px 216px auto;
}

.journal-b .staff-table .st-body .st-row .employee-id,
.journal-b .staff-table .st-body .st-row .employee-date-time, 
.journal-b .staff-table .st-body .st-row .employee-reason {
    color: rgba(147, 147, 147, .7);
}

.journal-b .staff-table .st-body .st-row .employee-amount:after {
    font-style: 16px;
}
/* ----- !Левый блок ----- */

/* ----- Правый блок ----- */
.withdrawal-b {
    padding: 10px 22px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.withdrawal-b .withdrawal-date {
    font-size: 20px;
    color: #777777;
}

.withdrawal-b .withdrawal-info .info-row .name {
    width: 94px;
    color: #939393;
}

.withdrawal-comment-cont .title {
    font-size: 24px;
    margin-bottom: 20px;
}

.withdrawal-comment-cont .customtextarea {
    width: 100%;
}
/* ----- !Правый блок ----- */
/* !Журнал инкассации */

/* Журнал пересчета */
.journal-b.conversion-spec .staff-table .st-control {
    grid-template-columns: 74px 100px 204px 130px 115px 115px;
}

.journal-b.conversion-spec .staff-table .st-body .st-row {
    grid-template-columns: 67px 114px 220px 144px 128px auto;
    cursor: default;
}
/* !Журнал пересчета */


/* Списание */
/* --- Общий список и информация об списании --- */
/* ----- Левый блок ----- */

.write-cont .info-sect-h .filter-items {
    display: flex;
    gap: 10px;
}

.write-cont .info-sect-h input {
    max-width: 265px;
    height: 64px;
}

.write-b {
    padding-top: 50px;
}

.write-b .staff-table .st-control {
    grid-template-columns: 74px 100px 240px 200px auto;
}

.write-b .staff-table .st-control .control-item:first-child {
    padding-left: 20px;
}

.write-b .staff-table .st-body .st-row {
    grid-template-columns: 72px 120px 260px 220px auto;
}

.write-b .staff-table .st-body .st-row .employee-amount {
    color: #8B2D2E;
}

.write-b .staff-table .st-body .st-row .employee-amount:after {
    color: rgba(139, 45, 46, .5);
}
/* ----- !Левый блок ----- */

/* ----- Правый блок ----- */
.write-deteil-b {
   padding-top: 30px; 
}

.write-deteil-info {
   padding: 0 22px;
}

.write-deteil-info .info-row .name {
   width: 120px;
   color: #939393;
}

.write-deteil-products {
   padding-top: 20px;
}

.write-deteil-products .amount.w-rub {
    color: #8B2D2E;
}

.write-deteil-products .amount.w-rub::after {
    opacity: .5;
}

.write-deteil-header, 
.write-deteil-items .product-row {
    grid-template-columns: 40px auto 70px 100px;
    column-gap: 20px;
}

.write-deteil-header {
    align-items: center;
}

.write-deteil-total {
    grid-template-columns: auto 70px 100px;
    column-gap: 20px;
    padding-top: 16px;
    border-top: 1px solid #D9D9D9;
}
/* ----- !Правый блок ----- */

/* --- !Общий список и информация об списании --- */

/* --- Создать списание --- */
/* ----- Левый блок ----- */
.write-create-cont {
    padding: 22px 0 0;
}

.write-create-cont .write-b {
    padding-top: 25px;
}
/* ----- !Левый блок ----- */

/* ----- Правый блок ----- */
.info-section-cont-write {
    padding: 22px 0 0;
}

.write-create-b {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.write-create-b .assembly-list {
    flex-grow: 1;
}

.write-create-b .comment-sect {
    padding-top: 30px;
}


/* ----- !Правый блок ----- */
/* --- !Создать списание --- */

/* !Списание */

/* Чеки */
.checks-container {
    width: 795px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.checks-tabs-cont, .checks-tabs {
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.checks-tabs-cont .checks-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-width: 195px;
    padding: 12px 20px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}

.checks-tabs-cont .checks-tab.active {
    background-color: #30BD57;
    color: #ffffff;
}

.checks-tabs-cont .checks-tab .close-check {
    height: 24px;
}

.checks-tabs-cont .checks-tab .close-check svg {
    width: 16px;
    stroke: #434343;
}

.checks-tabs-cont .checks-tab.active .close-check svg {
    stroke: #ffffff;
}

.checks-tabs-cont .checks-tab .close-check-menu {
    display: none;
}

.check-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.check-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #C2C2C2;
}

.check-header .check-header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 20px;
}

.check-header .check-header-item.type {
    border-right: 1px solid #C2C2C2;
}

.check-header .check-header-item img,
.check-header .check-header-item svg {
    height: 25px;
    margin-right: 10px;
}

.check-header .check-header-item.client {
    justify-content: space-between;
    font-size: 18px;
    text-transform: none;
}

.check-header .check-header-item.client svg {
    fill: #30BD57;
    stroke: #30BD57;
}

.check-header .check-header-item.client-empty {
    justify-content: center;
}

.check-header .check-header-item.client-empty {
    fill: #AAAAAA;
    stroke: #AAAAAA;
}

.check-header .check-header-item.client .client-box {
    display: flex;
    align-items: center;
}

.check-header .check-header-item.client .client-clear {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-header .check-header-item.client .client-clear svg {
    width: 20px;
    margin: 0;
    stroke: #6F1B2D;
}

.check-control-panel {
    display: flex;
    background-color: #696969;
}

.check-control-btns {
    width: 140px;
}

.check-control-btns .control-btn {
    width: 100%;
    padding: 17px 12px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #434343;
}

.check-control-btns .control-btn:not(:last-child) {
    border-bottom: 1px solid #696969;
}

.check-control-info {
    flex-grow: 1;
    padding: 15px;
}

.check-control-info .info-items {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
}

.check-control-info .info-items .info-item {
    display: flex;
    column-gap: 6px;
    color: #ffffff;
}

.check-control-info .info-items .info-item.balance {
    opacity: .5;
}

.check-control-info .info-items .info-item .value {
    font-weight: 500;
}

.check-control-info .info-items .info-item .value.w-rub:after {
    font-size: 16px;
}

.check-control-info .info-btns {
    margin-top: 18px;
    display: flex;
    column-gap: 10px;
}

.check-control-info .info-btns .btn {
    flex-grow: 1;
}

.check-control-info .info-btns .btn-pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #30BD57;
}

.check-control-info .info-btns .btn-pay.btn-disabled {
    background-color: #939393 !important;
}

.check-control-info .info-btns .btn-pay span {
    font-size: 34px;
}

.check-control-info .info-btns .btn-pay span.w-rub:after {
    font-size: 25px;
}

.check-control-info .info-btns .btn-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-grow: 0;
    width: 174px;
    background-color: #ffffff;
    color: #434343;
}

.check-control-info .info-btns .btn-sale.not-applied svg {
    display: none;
}
/* !Чеки */